inbound/n8n-workflow-inbound.json
{
  "name": "Kairvio — Inbound Lead (any source → Kairvio)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kairvio-inbound-lead",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "11111111-1111-4111-8111-111111111111",
      "name": "Lead Source (Webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 320],
      "webhookId": "kairvio-inbound-lead"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "f1", "name": "name", "value": "={{ $json.body.name || $json.body.full_name }}", "type": "string" },
            { "id": "f2", "name": "phone", "value": "={{ $json.body.phone || $json.body.phone_number }}", "type": "string" },
            { "id": "f3", "name": "email", "value": "={{ $json.body.email }}", "type": "string" },
            { "id": "f4", "name": "message", "value": "={{ $json.body.message || $json.body.notes }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "22222222-2222-4222-8222-222222222222",
      "name": "Normalize Lead Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/lead-webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer YOUR_KAIRVIO_WEBHOOK_TOKEN" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "name", "value": "={{ $json.name }}" },
            { "name": "phone", "value": "={{ $json.phone }}" },
            { "name": "email", "value": "={{ $json.email }}" },
            { "name": "message", "value": "={{ $json.message }}" },
            { "name": "source", "value": "n8n" }
          ]
        },
        "options": {}
      },
      "id": "33333333-3333-4333-8333-333333333333",
      "name": "Create Lead in Kairvio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 320]
    }
  ],
  "connections": {
    "Lead Source (Webhook)": {
      "main": [[{ "node": "Normalize Lead Fields", "type": "main", "index": 0 }]]
    },
    "Normalize Lead Fields": {
      "main": [[{ "node": "Create Lead in Kairvio", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": { "templateCredsSetupCompleted": true }
}
